<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

 <div class="main">
  <span class="city">{{res?.name}}</span>
  <span class="date">{{res?.dt | dateFormatting }}</span>

  <div class="icon">
    <img src="http://openweathermap.org/img/wn/{{ res?.weather[0].icon }}@2x.png" alt="">
  </div>

  <span class="description">{{ res?.weather[0].main }}</span>
  <span class="temperature">{{ res?.main.temp | number: '1.0-0' | slice:0:2 }}</span>
 </div>

 
 <ion-grid class="col">

<!-- Wind -->
  <ion-row class="block ion-text-center">
      <img src="../assets/vent.png" alt="">
    <ion-col class="lo-sm">{{ res?.wind.speed | windSpeed | number: '1.0-0' }} Km/h</ion-col>
    <ion-col class="lo-sm">WIND</ion-col>
  </ion-row>

<!-- Humidity -->
  <ion-row class="block ion-text-center">
    <img src="../assets/goutte.png" alt="">
     <ion-col class="lo-sm">{{ res?.main.humidity }}</ion-col>
    <ion-col class="lo-sm">HUMIDITY</ion-col>
  </ion-row>

<!-- Pressure -->
  <ion-row class="block ion-text-center">
    <img src="../assets/pressure.png" alt="">
    <ion-col class="lo-sm">{{ res?.main.pressure }}</ion-col>
    <ion-col class="lo-sm">PRESSURE</ion-col>
  </ion-row>
 </ion-grid>
 
</ion-content>
